body {
  background-image: url("../pics/kona1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  color: #2f4c5d; /*font color*/
  font-family: 'basiic';
  width: 1910px; 
  height: 920px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important; /* End https://www.cursors-4u.com */
}


.cardall { /* main content box has actual content */
  padding: 5px;
  background-color: transparent;
  overflow-y: hidden;
  width: 960px;
  height: 900px;
  z-index: 1;
  margin-top: 15px;
  margin-left: 5px;
}

.leftcolumn { 
  float: left;
  width: 15%;
}
.midcolumn { 
  float: left;
  width: 85%;
}

.rightcolumn { 
  float: left;
  width: 10%;
  background-color: black;
}

.qucolumn { 
  float: left;
  width: 25%;
  padding-top: 2px;
}

.halfcolumn {  
  float: left;
  width: 50%;
  padding-top: 2px;
}

thirdcolumn {  
  float: left;
  width: 75%;
  padding-top: 2px;
  
}

buttonpro {  
  padding: 5px;
  text-align: center;
  
}

.card { /* main box */ /*margin is outside border, padding is inside border*/
  /*margin-top: 5px;*/
  padding: 5px;
  border: hidden;
  border-bottom: 5px solid #020306;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 600px;
}
.cardtwo { /* 2nd main box */ /*margin is outside border, padding is inside border*/
  /*margin-top: 5px;*/
  padding: 5px;
  border: hidden;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 300px;
}


.cardhm { /* hidden box inside main box w/ scroll*/
  /*margin-top: 5px;*/
  padding: 5px;
  border: hidden;
  border-left: 4px dotted #020306;
  background-color: black;
  font-family: 'virale';
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  scrollbar-color: #202430black;
}

.cardhd { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
  border: 2px ridge #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  height: 310px;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.cardhdunder { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
  border: 2px ridge #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  height: fit-content;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.cardhdfaq { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
  border: 2px ridge #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  height: 170px;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.cardhdtwo { /* hidden box inside main box*/
  margin: 15px 5px 5px 5px; /*top right bottom left*/;
  padding: 5px;
  border: 2px ridge #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 500px;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.cardhdd { /* favs */
  margin: 0px 0px 5px 10px; /*top right bottom left*/;
  padding: 5px 5px 5px 15px; /*top right bottom left*/;
  border: 2px ridge #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  height: 328px;
  width: 345px;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
}

.cardhdzz { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
  border: 2px dotted #020306;
  background-color: black;
  font-size: 16px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  width: 362px;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

.cardplaytitle { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
  z-index: 1;
}

.cardsec1 { /* hidden box inside main box*/
  margin: 5px;
  padding: 5px;
border: 2px dotted #020306;
  z-index: 1;
}

.cardhdp { /* hidden status box inside main box*/
  margin: 5px;
  padding: 5px;
  background-color: black;
  overflow-x: hidden;
  height: fit-content;
  width: fit-content;
  border: 2px dotted;
  border-radius: 5px 5px 5px 5px;
}


.cardbuttonp { /* hidden status box inside main box*/
  margin: 5px;
  padding: 5px;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 500px;
  border-radius: 5px 5px 5px 5px;
}

#statuscafe {
    padding: .5em;
    background-color: black;
    border: 1px dotted #020306;
    margin-top: .5em;
}
#statuscafe-username {
    margin-bottom: .5em;
    margin-top: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.cardr { /* right column cards */
  /*margin-top: 5px;*/
  padding: 5px 5px 2px 5px; /*top right bottom left*/;
  border: hidden;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 750px;
  /*scrollbar-color: #202430black;*/
}

.cardrb { /* right column cards */
  /*margin-top: 5px;*/
  padding: 0px 5px 5px 5px; /*top right bottom left*/
  border: hidden;
  border-right: 4px solid #020306;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 750px;
  /*scrollbar-color: #202430black;*/
}

.cardl { /* left column */
  margin: 5px;
  border: 4px ridge #020306;
  background-color: black;
  border-radius: 5px 5px 5px 5px;
  font-family: 'basiic';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 800px;
  padding: 8px 4px 4px 8px; /*top right bottom left*/
}

.cardlt { /* top left column */
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  border-right: 2px solid #020306;
  border-radius: 5px 5px 0px 0px;
  background: rgb(255,161,251);
  background: linear-gradient(90deg, rgb(29 28 39) 0%, rgb(11 33 43) 35%, rgb(0 0 0) 100%);
  font-size: 16px;
  font-family: 'basiic';
  max-height: 800px;
  width: 102px;
  z-index: 1;
}

.cardltt { /* title card */
  margin: 5px;
  padding: 5px 5px 5px 5px;
  border-right: 2px solid #020306;
  border-radius: 5px 5px 5px 5px;
  background: rgb(255,161,251);
  background: linear-gradient(90deg, rgb(29 28 39) 0%, rgb(11 33 43) 35%, rgb(0 0 0) 100%);
  height: 40px;
  width: 180px;
  z-index: 1;
}



.cardlm { /* left column card music */
  /*margin-top: 5px;*/
  border-radius: 5px;
  border: hidden;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  max-height: 700px;
  padding: 2px;
  scrollbar-color: #202430black;
}

.cardthree { /* 2nd main box */ /*margin is outside border, padding is inside border*/
  border: hidden;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 330px;
  z-index: 1;
}

.cardthreeone { /* 2nd main box */ /*margin is outside border, padding is inside border*/
  margin-top: 10px;
  border: hidden;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 350px;
  z-index: 1;
}

.cardm { /* middle column small */
  /*margin-top: 5px;*/
  padding: 10px;
  border: hidden;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 400px;
}

.cardms { /* middle column small w/ scroll */
  /*margin-top: 5px;*/
  padding: 10px;
  border: hidden;
  border-left: 4px dotted #020306;
  background-color: black;
  font-family: 'virale';
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
  scrollbar-color: #202430black;
}

.cards { /* subpage box */
  padding: 5px;
  margin: 5px;
  border: 4px ridge #020306;
  border-radius: 5px;
  background-color: black;
  font-family: 'basiic';
  overflow-y: scroll;
  overflow-x: hidden;
  height: 780px;
  scrollbar-color: #202430black;
}

.cardls { /* left column cards, subpages */
  border: hidden;
  background-color: black;
  font-family: 'virale';
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 700px;
  padding: 5px;
}

.cardsg { /* gallery box;*/
  border-radius: 5px;
  padding: 5px;
  border: 5px outset #020306;
  background-color: black;
  font-family: 'virale';
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 800px;
  scrollbar-color: #202430black;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

a {
    color: #2f4c5d;
    
}

a:visited {
    color: #020306;
}

a:hover {
  text-decoration: none;
  color: #00db71
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

h4 {
    color: white;
    font-family: 'Heartfont';
    font-size: 32px;
    margin: 5px 5px 5px 5px; /*top right bottom left*/
    padding: 5px 5px 5px 5px;
    text-align: left;
}

h5 {
    color: white;
    margin: 2px 0px 3px 0px; /*top right bottom left*/
    padding: 0px 0px 0px 0px;
}

p { 
  margin: 10px 3px 10px 3px; /*top right bottom left*/
  }
  
  h6 {
    color: #020306;
    margin: 2px 0px 3px 0px; /*top right bottom left*/
    padding: 0px 0px 0px 0px;
}

/*music player1*/
.player {
  height: 90px;
  width: auto;
  align-items: center;
  background-color: black;
  border: 2px ridge #020306;
  border-top: none;
  border-radius: 0px 0px 5px 5px; /*topleft topright bottomleft bottomright*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.playertop {
  height: 40px;
  width: auto;
  align-items: center;
  background-color: black;
  border: 2px ridge #020306;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px; /*topleft topright bottomleft bottomright*/
  margin-left: 5px;
  padding-top: 2px;
  padding-left: 5px;
  margin-right: 5px;
}


.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.track-art {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.now-playing {
  font-size: 12px;
  margin-top: 5px;
}

.track-name {
  font-size: 14px;
}

.track-artist {
  font-size: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track {
  padding: 0px 25px 5px 25px; /*top right bottom left*/
  width: auto;
  height: auto;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.prev-track {
  padding: 0px 20px 5px 25px; /*top right bottom left*/
  width: auto;
  height: auto;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.next-track {
  padding: 0px 20px 5px 20px; /*top right bottom left*/
  width: auto;
  height: auto;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 50%;
}

.volume_slider {
  width: 50%;
}

.current-time, .total-duration {
  padding: 5px 5px 5px 5px; /*top right bottom left*/
  font-size: 12px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}



@font-face {
    font-family: 'virale';
    src: url('../fonts/virale.ttf');
}

@font-face {
    font-family: 'zeroweb';
    src: url('../fonts/000webfont.ttf');
}

@font-face {
    font-family: 'basiic';
    src: url('../fonts/basiic.ttf');
}

@font-face {
    font-family: 'Pulsewidth';
    src: url('../fonts/Pulsewidth-1.0.0.otf');
}

@font-face {
    font-family: 'Cherrybomb';
    src: url('../fonts/Cherrybomb.ttf');
}

@font-face {
    font-family: 'Heartfont';
      src: url('../fonts/heartfont.ttf');
}
